html {
    /* px 表示“像素（pixels）”: 基础字号为 10 像素 */
    font-size: 10px;
    /* Google fonts 输出的 CSS */
    font-family: 'Open Sans', sans-serif;
  }
h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  /* line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
  line-height: 2;
  letter-spacing: 1px;
}
html {
    background-color: #ffffff;
  }
body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(59, 30, 59);
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,204,233,1) 100%);;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: #6343d8;
    text-shadow: 3px 3px 5px rgb(218, 246, 255);
  }
img {
  display: block;
  margin: 0 auto;
}
.miao:hover {
  color: #ff08a9;
}
div {
  border: #6343d8 solid 5px;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 20px;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,204,233,0) 100%);
}    
.link {
  background-color: #ffffff;
}
.link:hover {
  color: aqua;
}
.link:visited {
  color: #db81c6;
}

